
.caixa {
    border: 1px solid black;
    padding: 4px;
}

.tam-1 {
    height: 50px;
}

.tam-2 {
    height: 100px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    margin-top: 8px;
    font-size: 38pt;
    margin-right: 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 2px;
    width: 300px;
}

.item-body {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.item-botoes {
    display: flex;
    height: 30px;
}